<section class="signup-form">
  <form #form="ngForm"
        fxLayout="column"
        fxLayoutAlign="center center">

    <mat-form-field>
      <input type="email"
             placeholder="Your email"
             ngModel
             name="email"
             required
             email
             matInput
             #emailInput="ngModel" />
      <mat-error *ngIf="emailInput.hasError('required')">Required</mat-error>
      <mat-error *ngIf="emailInput.hasError('email')">Email
        is invalid</mat-error>
    </mat-form-field>

    <mat-form-field hintLabel="Min 8 character">
      <input type="password"
             placeholder="password"
             ngModel
             name="password"
             required
             minlength="8"
             matInput
             #pi />
      <mat-hint align="end">{{pi.value?.length || 0}}/8</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             ngModel
             name="birthdate"
             [matDatepicker]="picker"
             placeholder="Enter your birthday"
             [max]="maxDate">


      <mat-datepicker-toggle [for]="picker"
                             matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox ngModel
                  name="agree"
                  color="primary"
                  required>I agree with term and conditions.
    </mat-checkbox>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="form.invalid"
            (click)="onSubmit(form)">Submit</button>
  </form>
</section>