<mat-sidenav-container>
  <mat-sidenav #sidenav
               role="navigation">
    <div (click)="sidenav.toggle()"> Navigation Side Bar</div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>Toolbar
      <div>
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon class="mat-18">menu</mat-icon>
        </button>
      </div>
      <div fxLayout
           fxFlex
           fxLayoutAlign="flex-end">
        <ul fxLayout
            class="navigation"
            fxLayoutGap="10px">
          <li><a [routerLink]="['/signup']">Sign Up</a></li>
          <li><a [routerLink]="['/login']">Login</a></li>
          <li><a [routerLink]="['/training']">Training</a></li>
        </ul>



      </div>
    </mat-toolbar>
    <router-outlet> </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
